streamlit
streamlit-chat
python-dotenv
requests
chromadb
sentence-transformers
langchain-community
langchain-groq
langchain-google-genai
groq
google-generativeai
gtts
PyPDF2
pdfplumber
Pillow
pandas
numpy
fuzzywuzzy
python-Levenshtein
beautifulsoup4
lxml
langdetect
pytesseract